<%= form_with(url: contacts_path, method: :get, local: true, class: "search-form") do |f| %>
  <div class="input-group">
    <%= f.text_field :search, 
          value: params[:search], 
          placeholder: "Search contacts...",
          class: "form-control" %>
    <div class="input-group-append">
      <%= f.submit "Search", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>